.main {
    width: 100%;
    margin: 25px auto;
}
.main-wrap {
    
}
.main-wrap__blank {
    display: flex; 
    background: #affbff; 
    border-radius: 10px;
    margin: 40px auto 80px;
}
.main-blank {
    padding: 40px;
    width: 50%;
}
.main-bg {
    width: 50%;
    background: url(../img/tabs-content.png) no-repeat bottom;
}
/*styler for main-wrap__blank*/

/*title*/
.main-blank__title {
    font-size: 1.7em;
    font-weight: 900;
    line-height: 1.6;
    margin-bottom: 30px;
}

/*content*/
.main-blank__content {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 60px;
}

/*input*/
.main-blank input {
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    background: #ffe900;
    font-size: 1em;
    font-weight: 800;
    line-height: 1.6;
    text-align: center;
    text-transform: lowercase;
    padding: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.main-blank input:hover {
    box-shadow: 5px 10px 10px #000;
    background: #fff;
    color: #fff;
    text-shadow: 0 0 10px #000;
}
.main-blank input:focus {
    outline: none;
}

/*styles for description*/
.main-wrap__description {
    display: flex;
    flex-direction: column;
}
.main-wrap__description h2 {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

/*items*/
.item {
    width: 100%;
    border-radius: 10px;
    padding: 40px;
    margin-right: 40px;
}
.item:last-child {
    margin-right: 0;
}
.item h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.item p {
    font-weight: 400;
    line-height: 1.6;
}

/*first block*/
.description__first-block {
    display: flex;
    width: 100%;
    background: #affbff;
    border-radius: 10px;
    margin-bottom: 40px;
}
.description__first-block .item {
    width: 50%;
}

/*item__bg*/
.item__bg {
    width: 50%;
    background: url(../img/points.png) no-repeat center;
    background-size: contain;
}

/*second block*/
.description__second-block {
    display: flex;
}
.description__second-block .item {
    background: #affbff;
}
